[submodule "uClinux-dist/user/libtc"]
	path = uClinux-dist/user/libtc
	url = ../libtc
[submodule "uClinux-dist/lib/microsupport"]
	path = uClinux-dist/lib/microsupport
	url = ../microsupport
[submodule "uClinux-dist/user/io-osc"]
	path = uClinux-dist/user/io-osc
	url = ../io-osc
[submodule "uClinux-dist/user/gsbd"]
	path = uClinux-dist/user/gsbd
	url = ../gsbd
[submodule "uClinux-dist/lib/libtc"]
	path = uClinux-dist/lib/libtc
	url = ../libtc
