[submodule "uClinux-dist/user/libtc"]
	path = uClinux-dist/user/libtc
	url = ../libtc
[submodule "uClinux-dist/lib/microsupport"]
	path = uClinux-dist/lib/microsupport
	url = ../microsupport
[submodule "uClinux-dist/user/io-osc"]
	path = uClinux-dist/user/io-osc
	url = ../io-osc
[submodule "uClinux-dist/user/gsbd"]
	path = uClinux-dist/user/gsbd
	url = ../gsbd
[submodule "uClinux-dist/user/avbweb"]
	path = uClinux-dist/user/avbweb
	url = ../avbweb.git
[submodule "uClinux-dist/lib/avtp"]
	path = uClinux-dist/lib/avtp
	url = ../avtp.git
[submodule "uClinux-dist/lib/avdecc"]
	path = uClinux-dist/lib/avdecc
	url = ../avdecc.git
